{{> head }}



{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>Octopath Traveler</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis at veritatis repudiandae quos vero est voluptates necessitatibus, excepturi saepe? Nulla ab dolores assumenda ea possimus maiores fugiat vitae id quod?</p>
    </div>

    <div class="col-4">
        <img src="/assets/img/octopath.jpg" class="img-thumbnail">
        
    </div>


</div>

{{> footer }}